.h-wrapper {
  position: fixed;  /* Always stays in view */
  top: 0;
  left: 0;
  width: 100%;      /* Spans the full width of the page */
  z-index: 999;     /* Ensure it’s above other elements */
  background-color: #fff; /* Keep a solid background so content doesn't show through */
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); Optional shadow */
}

.h-container {
  display: flex;
  justify-content: space-between; /* Logo on left, menu on right */
  align-items: center;
  padding: 1rem 2rem;
  color: var(--black);
}

.h-menu {
  display: flex;
  gap: 2rem;
}
.h-menu > *:hover {
  cursor: pointer;
  color: #8249d6;
}
.menu-icon {
  display: none;
}

.header-logo-wrapper {
  display: flex;
  align-items: center;
  text-decoration: none; /* If using an anchor/link */
}

/* Company Name Styles */
.header-company-name {
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #8249d6; /* Adjust to your brand color */
}

.orangeText {
  color: #8249d6;
  font-size: 1.5rem;
  margin-left: 10px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }
  .h-menu {
    color: var(--black);
    position: absolute;
    gap: 2rem;
    font-weight: 500;
    flex-direction: column;
    right: 4rem;
    top: 3rem;
    background: white;
    display: flex;
    border-radius: 10px;
    transition: all 200ms ease;
    align-items: flex-start;
    padding: 3rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  }
}
