@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.App{
  position: relative;
  overflow-x: clip;
  background-color: white;
}
.App>:nth-child(1)
{
  background: var(--brown);
  position: relative;
}
/* .white-gradient{
  position: absolute;
  width: 20rem;
  height: 20rem;
  background: rgb(205, 201, 201);
  filter: blur(100px);
  border-radius: 100px;
} */